@page "/"
@inject ICandidateService candidateService
@inject ILevelService levelService
@inject IPositionService positionService
@inject IUploadService uploadService
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-3" @onclick="() => ShowModal(0)">
    Thêm ứng viên
</button>


<form @onsubmit="Search">
    <div class="input-group w-25 py-3">
        <input type="text" class="form-control" placeholder="Tìm kiếm ứng viên" @bind="searchStr">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                Tìm kiếm
            </button>
        </div>
    </div>
</form>
<!-- List candidate -->
<table class="table table-bordered">
    <thead>
        <tr class="text-center bg-secondary text-white">
            <th scope="col">Chức danh</th>
            <th scope="col">Vị trí</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Người giới thiệu</th>
            <th scope="col">CV</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lstCandi)
        {
            <tr>
                <td>@item.Level.LevelName</td>
                <td>@item.Position.PositionName</td>
                <td>@item.FullName</td>
                <td>@item.Birthday</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.IntroduceName</td>
                <td><button class="btn btn-link" @onclick="() => ShowCV(item.CandidateId)">@item.CVPath</button></td>
                <td class="text-center">
                    <button class="btn btn-outline-success btn-sm mr-1" @onclick="() => ShowModal(item.CandidateId)">Sửa</button>
                    <button class="btn btn-outline-danger btn-sm" @onclick="() => Delete(item.CandidateId)">Xoá</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (display)
{
    <div class="modal fade show d-block" id="myModal1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Nhập ứng viên</h5>
                    <button type="button" class="close" @onclick="HideModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">
                    <EditForm Model="candi" OnSubmit="PutPost">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Vị trí</label>
                                <InputSelect class="custom-select" @bind-Value="candi.LevelId" required>
                                    <option hidden></option>
                                    @foreach (var item in lstLevel)
                                        {
                                        <option value="@item.LevelId">@item.LevelName</option>
                                        }
                                </InputSelect>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Chức danh</label>
                                <InputSelect class="custom-select" @bind-Value="candi.PositionId" required>
                                    <option hidden></option>
                                    @foreach (var item in lstPosition)
                                        {
                                        <option value="@item.PositionId">@item.PositionName</option>
                                        }
                                </InputSelect>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Import CV</label>
                                <div class="custom-file">
                                    <InputFile id="customFile" OnChange="OnInputFileChange" multiple />
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Người giới thiệu</label>
                                <InputText class="form-control" @bind-Value="@candi.IntroduceName" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Họ tên</label>
                                <InputText class="form-control" @bind-Value="@candi.FullName" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                <InputText class="form-control" @bind-Value="@candi.Phone" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputBirthday">Birthday</label>
                                <InputText type="text" class="form-control" @bind-Value="@candi.Birthday" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail">Email</label>
                                <InputText type="text" class="form-control" @bind-Value="@candi.Email" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputAddress">Address</label>
                                <InputText type="text" class="form-control" @bind-Value="@candi.Address" />
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">
                                <span>Save</span>
                            </button>
                        </div>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
}

@if (displayCV)
{
    <div class="modal fade show d-block">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CV ứng viên</h5>
                    <button type="button" class="close" @onclick="HideModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <embed src="@CVPath" frameborder="0" width="100%" height="700px" />
                </div>
            </div>
        </div>
    </div>
}

@code {

    private bool display { get; set; }

    private bool displayCV { get; set; }

    private int candidateId { get; set; }

    private string searchStr { get; set; }

    private string CVPath { get; set; }

    private Candidate candi = new();

    private List<Level> lstLevel = new();

    private List<Position> lstPosition = new();

    private List<Candidate> lstCandi = new List<Candidate>();

    protected override async Task OnInitializedAsync()
    {
        HideModal();
        lstCandi = (await candidateService.GetByStatus(0)).ToList();
        lstLevel = (await levelService.GetAll()).ToList();
        lstPosition = (await positionService.GetAll()).ToList();

    }

    protected async Task ShowModal(int id)
    {
        candidateId = id;
        candi = new();
        if (candidateId != 0)
        {
            candi = await candidateService.GetById(candidateId);
        }
        display = true;
    }

    protected async Task ShowCV(int id)
    {
        candidateId = id;
        candi = await candidateService.GetById(candidateId);
        CVPath = "http://localhost:52871/" + candi.CVPath;
        displayCV = true;
    }

    protected void HideModal()
    {
        display = false;
        displayCV = false;
    }


    protected async Task Delete(int id)
    {
        await candidateService.Delete(id);
        await OnInitializedAsync();
    }

    protected async Task Search()
    {
        try
        {
            if (string.IsNullOrEmpty(searchStr))
                lstCandi = (await candidateService.GetAll()).ToList();
            else
                lstCandi = (await candidateService.Search(searchStr)).ToList();
        }
        catch
        {
            lstCandi = new();
        }
    }

    IBrowserFile selectedFiles;

    protected void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.File;
        this.StateHasChanged();
    }

    protected async Task PutPost()
    {
        if (selectedFiles != null)
        {
            Stream stream = selectedFiles.OpenReadStream();
            MemoryStream ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            stream.Close();

            UploadedFile file = new UploadedFile();
            file.FileName = selectedFiles.Name;
            file.FileContent = ms.ToArray();
            ms.Close();

            await uploadService.Upload(file);

            candi.CVPath = file.FileName;
            selectedFiles = null;
        }

        if (candidateId == 0)
        {
            await candidateService.Create(candi);
        }
        else
        {
            await candidateService.Update(candi, candidateId);
        }
        await OnInitializedAsync();
        this.StateHasChanged();
    }
}
